# Object Oriented Programming

Object-oriented programming is a programming paradigm that is centered around objects, which are instances of classes that encapsulate data and behavior. In Python, everything is an object, including integers, strings, lists, and functions. Python's support for OOP is a key feature of the language that makes it powerful and flexible.

# Class and Objects

A class is a blueprint or a template for creating objects, which are instances of the class. Classes encapsulate data and the behavior that operates on that data. A class defines a set of attributes and methods that can be used to create objects. In Python, you can define a class using the class keyword. Attributes and methods are the two key components of a python class. Attributes are the characteristics or properties of an object, while methods are the functions that are associated with the object.

Syntax:
```python
class ClassName:
    def methods:
        ..
```

In [41]:
class Calculator:
    def __init__(self, num1, num2, *args):
        print("making Objects ,,")
        self.num1 = num1
        self.num2 = num2
        
    def sum(self, num3):
        return self.num1 +self.num2 +num3
    
    def multiply(selt, num1):
        return self.num1 *self.num2

In [27]:
calc = Calculator(10,4)

making Objects ,,

In [28]:
calc.num2

4

In [21]:
calc.sum(4)

18

In [42]:
calc.multiply()

NameError: name 'self' is not defined

# Types of Attributes

1. Instance Attributes 
2. Class Attributes

In [44]:
class Person: 
    count = 0 #<- Class Attribute
    
    def __init__(self, name:str, address: str = "Kathmandu"):
        # Initilizer or Constructor
        self.name = name #<- instance attribute 
        self.address = address
        
        Person.count +=1
        
    def get_details(self):
        print(f"I am {self.name} from {self.address}")
        
    @classmethod
    def get_count(cls):
        return cls

In [34]:
person1 = Person ("Hari")

In [35]:
person1.count

1

In [36]:
person2 = Person ("Ram")

In [37]:
person3 = Person ("Milan")

In [38]:
person1.count

3

In [45]:
student1 = Person ("Brandon", "Norway")

In [46]:
student1.get_details()

I am Brandon from Norway

In [47]:
student1.get_count()

__main__.Person

# Calculating Student Results: 
develop a class to accept a student's name and marks in three subjects, then calculate and display the total and average marks.

In [73]:
class StudentResult:
    
    def __init__(self, name:str, marks: list[int]):
        self.name = name
        self.marks = marks
        
    def total(self):
        return sum(self.marks)
    
    def average(self):
        return self.total() /len(self.marks)
    
    def display(self):
        print(f"Name: {self.name}")
        print("_"*50)
        print(f"Total Marks Obtained: {self.total()}")
        print(f"Average Marks: {self.average()}")

In [75]:
bigyan = StudentResult("Bigyan Neupane", marks = [35, 60, 55, 90])

In [76]:
bigyan.display()

Name: Bigyan Neupane
__________________________________________________
Total Marks Obtained: 240
Average Marks: 60.0