In [1]:
## count = 3
while count > 0:
    print(count)
    count -= 1

NameError: name 'count' is not defined

In [2]:
count = 3
while count > 0:
    print(count)
    count -= 1

3
2
1

In [4]:
# while true:

In [1]:
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [5]:
#```Break Statement`

In [3]:
i = 0
while i < 10:
    print(i)
    i += 1

    if i==10:
        break

0
1
2
3
4
5
6
7
8
9

In [6]:
#Continue Statement

In [11]:
names = ["saimon", "Jesus", "jhon"]
i=0
        while i<3:
           if i==1:
                i += 1
               continue
            
            print(names[i])
            i +==1:

IndentationError: unindent does not match any outer indentation level (<string>, line 6)

In [13]:
# Program to calculate the sum of the first N natural numbers

N = int(input("Enter a number: "))
i = 1
total = 0

while i <= N:
    total += i
    i += 1

print("The sum of the first", N, "natural numbers is:", total)

Enter a number:  100

The sum of the first 100 natural numbers is: 5050

In [15]:
# Program to calculate the sum of the first 100 natural numbers

i = 0
total = 100

while i <= N:
    total += i
    i += 1

print("The sum of the first", N, "natural numbers is:", total)

The sum of the first 100 natural numbers is: 5150

In [2]:
n = 50
result = 0

i = 1
while i <= n:
    result += i
    i += 1
    
    print (result)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [5]:
n = 10
result = 1

i = 1
while i <= n:
    result *= i
    i += 1
    
print (result)

3628800

In [4]:
n = 10
result = 1

i = 1
while i <= n:
    result *= i
    i += 1

print(result)

3628800